<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="https://weizhong.stat.github.io"><strong>主页</strong></a>
      <li class="nav-link"><a href="https://weizhong.stat.github.io/research.html"><strong>科研</strong></a>
      <li class="nav-link"><a href="https://weizhong.stat.github.io/project.html"><strong>项目</strong></a>
      <li class="nav-link"><a href="https://weizhong.stat.github.io/teach.html"><strong>教学</strong></a>
      
      </ul>
    </nav>
  </div>
  </header>
    <body>
    <div class="wrapper">    
      <header>
        <h1><a href="https://weizhong.stat.github.io/">钟威</a></h1>
        
        <div style="display:inline;float:center">
        <p>Professor of Xiamen University
          <img src="xmu.jpg" style="width:150px" /></p>
          
          
          <img src="zw.jpg" alt="Logo"  style="width:230px" />
          
          <p>
          <br><b>地址</b>:
          <br>厦门大学
          <br>统计学与数据科学系
          <br>经济楼D331
          <br>
          <br><b>电子邮件</b>:
            <br><small>weizhong.stat.github.io@xmu.edu.cn</small>
            
        <br>
        <br><b>链接</b>:
        <br><a href="http://www.wise.xmu.edu.cn/" target="_blank">学院网站</a>
        <br><a href="https://weizhong.stat.github.io/english_version.html" >英文主页</a>

        </p>
            
      </header>
