<header>
        <h1><a href="https://wzhong41.github.io/weizhong.stat.github.io/">WeiZhong</a></h1>
        
        <div style="display:inline;float:center">
        <p>Professor of Xiamen University
          <img src="xmu.jpg" style="width:150px"></p>
          
          
          <img src="zw.jpg" alt="Logo" style="width:230px">
          
          <p>
          <br><b>Mailing address</b>:
          <br>Xiamen University
          <br>Department of Statistics and Data Science
          <br>Room D331
          <br>
          <br><b>E-mail</b>:
            <br><small>wzhong@xmu.edu.cn</small>
            
        <br>
        <br><b>Links</b>:
        <br><a href="http://www.wise.xmu.edu.cn/" target="_blank">Department Website</a>
        <br><a href="https://wzhong41.github.io/weizhong.stat.github.io/">Chinese version</a>

        </p>
            
      </div></header>
